@import url('https://fonts.googleapis.com/css2?family=Varela+Round:wght@400;500&family=Roboto:wght@300;400&display=swap');


body {
font-family: "Varela", "roboto";
max-width: 100vw;
    min-height: 100vh;
}

 .parallax-container {
    height:500px;
    width: 100%;
    
}


 .card-panel {
   background-color: orange;
   width: auto;
}

.flashes h4 {
   line-height: 2;
}