{% extends "base.html" %}
{% block content %}

    <h3 class="orange-text  center-align">Add Your Story</h3>

    <div class="row card-panel orange lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_story') }}">
            <div class="row">
                 <div class="input-field col s12">
             <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>     
        <select id="category_name" name="category_name" class="validate" required>
              <option value="category_name" disabled selected>Choose your Story</option>
               {% for category in categories  %}
              <option value="{{ category.category_name }}">{{ category.category_name }}</option>
              {%  endfor  %}
        </select>
            <label for="category_name">Add Your Story</label>
      </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-orange-text text-darken-4"></i>
                    <input id="illustration_lab" name="illustration_lab" minlength="1" maxlength="200">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="illustration_lab">Illustration Lab</label>
                <div class="file-field input-field">
      <div class="btn orange">
        <span>File</span>
        <input type="file" multiple>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload one or more files">
      </div>
    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-orange-text text-darken-4"></i>
                    <textarea id="music_lab" name="music_lab" minlength="1"
                        maxlength="200" class="materialize-textarea validate" ></textarea>
                    <label for="music_lab">Music Lab</label>
               <div class="file-field input-field">
      <div class="btn orange ">
        <span>File</span>
        <input type="file" multiple>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload one or more files">
      </div>
    </div>
                
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-orange-text text-darken-4"></i>
                    <input id="dialogue_sessions" name="dialogue_sessions" type="text">
                    <label for="dialogue_sessions">Dialogue Sessions</label>
               <div class="file-field input-field">
      <div class="btn orange ">
        <span>File</span>
        <input type="file" multiple>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload one or more files">
      </div>
    </div>
       
      </div>
                
            </div>
			 <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-orange-text text-darken-4"></i>
                    <textarea id="our_wearable_sculptures" name="our_wearable_sculptures" minlength="1"
                        maxlength="200" class="materialize-textarea validate"></textarea>
                    <label for="our_wearable_sculptures">Our Wearable Sculptures</label>
                
                <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-image prefix grey-text text-darken-2"></i>
                            <input 
                                id="img_url" 
                                name="img_url" 
                                minlenght="7" 
                                type="url" 
                                pattern="https://.*" 
                                class="validate lazyload" 
                                >
                            <label for="img_url">Enter Image URL</label>
                        </div>
                    </div>    
                   
                   
                    <div class="file-field input-field">
      <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Add Task <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
</div>
    </div>           
</div>
        </form>
    </div>

{% endblock %}
        











