 <!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" 
         integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" type="text/css"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
      {% block styles %}
      {% endblock %}
      <title>About Siblings</title>
   </head>
 
  <body>
 
 
 
 
 <header>
         <!-- top navbar -->
         <nav class="nav-extend text-shadow lime lighten-1  text-darken 2 ">
            <div class="nav-wrapper">
               <a href="{{ url_for('home') }}" class="brand-logo  left black-text ">[about siblings]</a>
               <a href="#" data-target="mobile-demo" class="sidenav-trigger  right"><i class="fa fa-bars"></i></a>
               <ul class="right hide-on-med-and-down  lime lighten-1  text-darken 2">
                  <li><a href="{{ url_for('home') }}">Home</a></li>
                  <li><a href="{{ url_for('about') }}">About</a></li>
                  {% if session.user %}
                  <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                  <li><a href="{{ url_for('add_story') }}">Add Your Story</a></li>
                  <li><a href="{{ url_for('get_stories') }}">Our Stories</a></li>
                  {% if session.user|lower == "admin"|lower %}
                  <li><a href="{{ url_for('get_categories') }}">Manage Categories</a></li>
                  {% endif %}
                  <li><a href="{{ url_for('logout') }}">Logout</a></li>
                  {% else %}
                  <li><a href="">Methodology</a></li>
                  <li><a href="{{ url_for('documentary') }}">Short Documentary</a></li>
                  <li><a href="{{ url_for('login') }}">Login</a></li>
                  <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                  {% endif %}
                </ul>
            </div>
         </nav>
         
         <!-- mobile sidenav -->
         <ul class="sidenav" id="mobile-demo">
            <li>
               <h4 class="center-align-left text-shadow lime lighten-1  text-darken 2">[about siblings]</h4>
            </li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
             {% if session.user %}
                  <li><a href="{{ url_for('about') }}">About</a></li>
                  <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                  <li><a href="{{ url_for('add_story') }}">Add Your Story</a></li>
                  <li><a href="{{ url_for('get_stories') }}">Our Stories</a></li>
                  {% if session.user|lower == "admin"|lower %}
                  <li><a href="{{ url_for('get_categories') }}">Manage Categories</a></li>
                   {% endif %}
                  <li><a href="{{ url_for('logout') }}">Logout</a></li>
                  {% else %}
                  <li><a href="">Methodology</a></li>
                  <li><a href="{{ url_for('documentary') }}">Short Documentary</a></li>
                  <li><a href="{{ url_for('login') }}">Login</a></li>
                  <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                  {% endif %}
         </ul>
      </header>
      



   <div class="video-container">

<div style="padding:56.25% 0 0 0;position:relative;">
    <iframe src="https://player.vimeo.com/video/125095827" style="position:absolute;top:0;left:0;width:100%;height:100%;"
     frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
    </iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

   </div>

 <!--Footer-->    
      <footer class="page-footer text-shadow lime lighten-1  text-darken 2 ">
         <div class="container">
            <div class="row">
               <div class="col l6 s12">
                  <h5 class="white-text">Footer Content</h5>
                  <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
               </div>
               <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">Links</h5>
                  <ul>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="footer-copyright">
            <div class="container center-align">
               © 2021 Kostas Panagiotou
            </div>
         </div>
      </footer>
     
    
       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
      
   </body>
</html>